body {
    font-family: Arial, Helvetica, sans-serif; 
}

h1 {
    margin-bottom: 5px;
    margin-top: 5px;
}
h2 {
    font-size: 50px;
    display: inline;
    padding: 0;
    margin-right: 5px;
    line-height: 1;
    font-weight: 400;
}
ul {
    margin: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 18px;
    color: #6f7c88;
    font-family: 'Roboto', sans-serif;
}
li::first-letter {
    text-transform: capitalize;

}

a {
    text-decoration: none;
    color: #007bff;
}
small {
    font-family: monospace;
}
.container {
    max-width: 600px;
    margin-top: 40px;
    border: solid 1px #dadde1;
    border-radius: 10px;
    background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%);
}

.search-form {
    margin-top: 15px;
}
.currentDate {
    line-height: 18px;
    color: #6f7c88;
    font-family: 'Roboto', sans-serif;  
}
.day-description {
    padding: 0;
    font-size: 14px;
}
.weather-temperature img {
    width: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
    
}
.weather-temperature span {
    position: relative;
    top: 10px;
}
.weather-temperature .units {
    position: relative;
    font-size: 18px;
    top: -22px;
    left: -10px;
}
.weather-temperature .units .activ {
    color: rgb(0, 0, 0);
    cursor: default;
}

.weather-description {
 padding: 0;
 font-size: 14px;
 margin-top: 50px;
}
.weather-description span {
    color: #007bff;
}
.weather-forecast {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}
.forecast-date {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #007bff;
}
.weather-forecast img {
    max-width: 60px;
}
.weather-forecast span {
    color: #007bff;
    text-align: center;
}
.forecast-temp-min {    
    opacity: 0.6;
}

.footer {
    max-width: 600px;
    margin: 10px auto;
}
